header{
    background-color: rgb(36, 114, 160);
    margin-bottom: 25px;
}

header,
.card{
    box-shadow: 10px 5px 5px rgb(153, 153, 153);
}

.cardTop{
    text-align: center;
}

.card-body{
    background-color: rgb(88, 88, 88);
    border-radius: 0 0 5px 5px;
}

.card-body .card-title,
.card-body .card-text{
    color: white;
}

#cardImg{
    max-width:max-content;
    height: 260px;
    width: auto;
}

article{
    display: flex;
    justify-content: center
}

footer{
    text-align: center;
}